@charset "UTF-8";
.contact-section {
    background-color: #f7f7f7;
    padding: 20px;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info {
    width: calc(50% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    width: calc(50% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.contact-form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #555;
}

@media only screen and (max-width: 768px) {
    .contact-info, .contact-form {
        width: 100%;
    }
}
